<h1>Listing artworks</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>artist_id </th>
    <th>description</th>
    <th>media</th>
    <th>date made</th>
    <th>dimension</th>
    <th>suggest</th>
     <th colspan="2"></th>
  </tr>
 
  <% @artworks.each do |artwork| %>
    <tr>
      <td><%= artwork.title %></td>
      <td><%= artwork.artist_id %></td>
      <td><%= artwork.description %></td>
      <td><%= artwork.media %></td>
      <td><%= artwork.artwork_made %></td>
      <td><%= artwork.dimension %></td>
      <td><%= artwork.suggest_price %></td>
      <td><%= link_to 'Show', artwork_path(artwork) %></td>
      <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
      </tr>
  <% end %>
</table>
  