<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :time %><br>
    <%= f.datetime_local_field :time %>
  </p>

  <p>
    <%= f.label :bid %><br>
    <%= f.number_field :bid %>
  </p>

 <p>
    <%= f.submit %>
  </p>